.info-container {
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  top: var(--popup-header-height);
  right: 0;

  width: 100%;
  padding: 30px 10px 130px;
  overflow-y: auto;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;

  width: 80%;
  height: max-content;
  color: var(--text-color);
  text-align: left;
}

.info-title {
  padding: 10px 5px 0px;
  text-align: left;
  font-size: 25px;
  color: rgba(66, 66, 66, 1);
  font-weight: bold;
  margin-bottom: -3px;
}

.info-title:not(:first-child) {
  padding-top: 40px;
}

.info-subtitle {
  padding: 10px 5px 0px;
  font-size: 20px;
  color: rgba(66, 66, 66, 1);
  margin-bottom: -5px;
  font-weight: bold;
}

.info-text {
  padding: 10px 5px 0px;
}

@media (max-width: 600px) {
  .info-content {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .info-container {
    padding-top: 20px;
  }

  .info-title {
    font-size: 22px;
  }

  .info-subtitle {
    font-size: 18px;
  }
}
