.settings-container {
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  top: var(--popup-header-height);
  right: 0;

  width: 100%;
  padding: 40px 10px 130px;
  overflow-y: auto;
}

.settings-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;

  width: 75%;
  height: max-content;
  color: var(--text-color);
}

.settings-container .form-group {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  width: 100%;
}

.settings-container .form-group-title {
  grid-column: 1 / -1;

  padding: 10px;
  padding-left: 5px;
  text-align: left;
  font-size: 25px;
  color: rgba(66, 66, 66, 0.7);
}

.settings-container .optional-txt {
  padding-top: 4px;
  font-size: 15px;
}

.settings-container .form-group-abbreviations {
  grid-template-columns: repeat(2, 1fr);
}

.settings-container .form-group-colors {
  grid-template-columns: repeat(3, 1fr);
}

.settings-container .form-group-user-info {
  grid-template-columns: repeat(1, 1fr);
}

.abrev-item,
.color-item {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px 5px 3px;
}

.settings-container .form-group label {
  align-self: flex-start;
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
}

.settings-container .form-group input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--header-border-color);
  border-radius: 3px;
  font-size: 20px;
  outline: none;
}

.settings-container .form-group input:active,
.settings-container .form-group input:focus {
  border: 1px solid var(--logo-color);
}

.settings-container .form-group input[type="color"] {
  height: 2em;
  background-color: rgba(180, 180, 180, 0.1);
}

.settings-container .form-group input[type="text"] {
  background-color: rgba(180, 180, 180, 0.014);
}

.settings-container .abrev-item input {
  padding: 2px 5px;
}

.settings-container .user-item input {
  padding: 4px 5px;
}

.settings-container .form-group input[disabled],
.settings-container .form-group input[readonly] {
  background-color: rgba(180, 180, 180, 0.14);
  border: 1px solid var(--header-border-color);
  cursor: auto;
}

.settings-container .form-group input[disabled][type="color"] {
  background-color: rgba(180, 180, 180, 01);
}

.settings-container .form-group input[type="text"][data-error] {
  border: 1px solid rgba(255, 0, 0, 0.829);
}

.settings-container .abrev-item .error-txt,
.settings-container .user-item .error-txt {
  font-size: 13px;
  padding-top: 2px;
  color: rgba(255, 0, 0, 0.829);
  text-align: left;
}

/*--- Styling Daily Review Section ---*/
.daily-review-section {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3px;
  margin-top: 12px;
}

.daily-review-title {
  grid-column: 1 / -1;
  text-align: left;
  font-size: 20px;
  color: rgba(66, 66, 66, 0.7);
  padding: 5px 5px 7px;
}

.daily-review-section .color-item label {
  font-size: 13px;
  align-self: center;
}

/*--- Buttons ---*/
.settings-container .settings-button-group {
  align-self: stretch;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.settings-container .settings-button {
  width: max-content;
  margin-top: 10px;
  padding: 11px 30px 11px;
  color: white;
  background-color: var(--logo-color);
  border: none;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;

  transition: background-color 0.15s;
}

.settings-container .settings-button:hover,
.settings-container .settings-button:focus {
  background-color: #28853c;
}

.settings-container .cancel-button {
  background-color: #a5a5a5;
}

.settings-container .cancel-button:hover,
.settings-container .cancel-button:focus {
  background-color: #838383;
}

@media (max-width: 700px) {
  .settings-container .form-group-colors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .settings-content {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .settings-container .form-group {
    column-gap: 15px;
    row-gap: 5px;
  }

  .settings-container .form-group-title {
    font-size: 22px;
    padding: 5px;
  }

  .settings-content {
    row-gap: 60px;
  }

  .settings-container .form-group-abbreviations {
    grid-template-columns: repeat(1, 1fr);
  }

  .settings-container .form-group-colors {
    grid-template-columns: repeat(1, 1fr);
  }

  .settings-container .settings-button-group {
    flex-direction: column;
    gap: 10px;
  }

  .settings-container .settings-button-group > * {
    width: 100%;
    padding: 12px 30px 12px;
  }
}
