.date-viewer {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.right-arrow,
.left-arrow {
  position: relative;
  cursor: pointer;
}

.right-arrow:hover::after,
.left-arrow:hover::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 70%;
  height: 85%;
  content: "";
  background-color: rgba(20, 22, 22, 0.123);
  border-radius: 1px;
}
