.date-viewer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 22px;
  user-select: none;
}

/*Add in gap for Multi-Day view so we can adjust for diff month lengths*/
.date-viewer:not([data-period="year"]) {
  gap: 1px;
}

/*Add in rule for May because its long*/
.date-viewer:not([data-period="year"])[data-month="4"] {
  gap: 0px;
}

/*Add in rule for July(6) on Multi-Day view because its so short*/
.date-viewer:not([data-period="year"])[data-month="6"] {
  gap: 4px;
}

.right-arrow,
.left-arrow {
  position: relative;
  cursor: pointer;
  font-size: 1.14em;
  padding: 3px;
  border-radius: 3px;
}

.right-arrow::after,
.left-arrow::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 75%;
  height: 80%;
  content: "";
  background-color: rgba(180, 180, 180, 0.25);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.right-arrow:active::after,
.left-arrow:active::after
/*.right-arrow:hover::after,
.left-arrow:hover::after*/ {
  visibility: visible;
  opacity: 1;
}
