.full-day {
  flex-grow: 1; /*Makes each day expand evenly to take up space*/

  display: flex;
  flex-direction: column;
  height: calc(var(--multi-hr-height) * 25);
}

.full-day-hr {
  flex-grow: 1;
  border-top: 1px solid var(--header-border-color);
  border-left: 1px solid var(--header-border-color);

  position: relative;
}

.full-day-hr:nth-child(2),
.full-day-hr:last-child {
  /*show 15mins of prev day & next day as a sort of buffer*/
  flex-grow: 0.25;
}

.full-day-hr:nth-child(2) {
  border-top: none;
}

/*This class is for creating the small border lines on the multi-header component*/
.multi-header-border {
  position: fixed;
  width: 1px;
  height: 20px;
  background: var(--header-border-color);
  transform: translateY(-100%);
}

/*This class is for creating the small border lines on the time components*/
.first-full-day-hr::before {
  position: absolute;
  content: "";
  z-index: 500;
  right: 100%;
  top: -1px;
  width: 12px;
  height: 1px;
  background: var(--header-border-color);
}

/*Increasing 'buffer' hour at the bottom to accomodate for plus button*/
@media (max-width: 800px) {
  .full-day-hr:last-child {
    flex-grow: 1;
  }
}
