.header {
  /*make it stick to top*/
  position: sticky;
  top: 0;
  z-index: 100; /*Make it show over relatively positioned elements*/

  /*Flex-box*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  color: var(--text-color);
  background-color: rgb(255, 255, 255, 1);
  border-bottom: 1px solid var(--header-border-color);

  user-select: auto;
}

/*HEADER LEFT SECTION*/

.header-left {
  /*Flex*/
  display: flex;
  align-items: center;
}

.header-left > * {
  padding: 10px;
}

.logo {
  height: 41px;
}

.site-title {
  font-size: 30px;
  font-weight: bold;
}

.header-left .date-viewer {
  padding-left: 2.5vw;
}

/*HEADER RIGHT SECTION*/

.header-right {
  /*Flex*/
  display: flex;
  align-items: center;
  gap: 16px;

  user-select: none;
}

/*Only added a container so that the tooltip can position off something*/
.header-icon-container {
  position: relative;
  cursor: pointer;
}

.header-icon {
  font-size: 25px;
  padding: 7px;
  border-radius: 3px;
  color: rgba(60, 64, 67, 0.753);
  cursor: pointer;
  transition: background-color 0.25s;
}

.header-icon:hover {
  background-color: rgba(180, 180, 180, 0.25);
}

.header-icon-tip {
  /*Based on the tooltip for weekdays: 
  -removed the z-index and it seems to be working fine
  -for some reason had to add the font-family, might be because material ui icons have a different font
  -The top is 120% instead of the 150% it was in weekdays
  */

  position: absolute;
  width: max-content;
  top: 120%; /*Based on the tooltip for weekdays. The top is 120% instead of 150%*/
  left: 50%;
  transform: translateX(-50%);
  z-index: 101; /*one over the header's z index*/
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(60, 64, 67, 0.788);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;

  /* CSS info for initial hide and fade out*/
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s 0s, visibility 0.1s 0s;
}

.header-icon:hover + .header-icon-tip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s 0.5s, visibility 0.5s 0.5s; /*CSS Info for fade in*/
}

/*Period dropdown*/

.dropdown-container {
  position: relative;
}

.period-dropdown {
  /*Flex*/
  display: flex;
  align-items: center;
  gap: 10px;

  /*Position & Border-Box*/
  position: relative;
  padding: 7px 10px;
  border: 1px solid rgba(60, 64, 67, 0.199);
  border-radius: 3px;

  cursor: pointer;
}

.period-dropdown:hover {
  background-color: rgba(180, 180, 180, 0.075);
}

.period-dropdown::after {
  transform: translateY(
    25%
  ); /*because the arrow is only the top quarter of the after el*/
  content: " ";
  border-width: 5px;
  border-style: solid;
  border-color: rgba(60, 64, 67, 0.83) transparent transparent transparent;
}

.period-options {
  /*Flex*/
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /*Positioning*/
  position: absolute;
  width: 150%;
  min-width: max-content;
  top: 140%;
  left: -25%;
  z-index: 101; /*make it show over the header*/
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;

  animation: fadeIn 0.15s ease-in-out;
}

.period-options a {
  text-decoration: none !important;
}

.period-option {
  text-align: left;
  padding: 7px 10px;
  color: var(--text-color);
}

.period-option:hover {
  background-color: rgba(180, 180, 180, 0.15);
}

/*Key frames*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 100%;
    left: 0%;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    width: 150%;
    left: -25%;
    transform: translateY(0);
  }
}
