.header {
  /*make it stick to top*/
  position: sticky;
  top: 0;
  z-index: 100; /*Make it show over relatively positioned elements*/

  /*Flex-box*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 8%;
  min-height: 10vh;
  color: black;
  background-color: rgb(255, 255, 255, 1);
  border-bottom: 1px solid #dadce0;
}

.header-left {
  /*Flex*/
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  /*Flex*/
  display: flex;
  align-items: center;
  gap: 30px;
}
