.mobile-side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 105;
  height: 100vh;
  width: max-content;
  min-width: 75%;
  background-color: rgb(163, 163, 163);
  border: 1px;
  font-size: 18px;
}

.mobile-sp-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid black;
  text-decoration: none;

  cursor: pointer;
}

.mobile-side-panel .logo {
  height: 41px;
}

.mobile-side-panel .site-title {
  font-size: 30px;
  font-weight: bold;
}
