.scrollbar-test-el {
  overflow-y: scroll;
  visibility: hidden;
  position: absolute; /*take it out of the document flow*/
}

.multi-header {
  display: flex;
  cursor: default;
}

.multi-header-days {
  flex-grow: 1;
  display: flex;
}

.multi-header-day {
  flex: 1; /*Makes all the elements an equal width*/

  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative; /*done for position psuedo els*/
  padding: 10px;
  border-bottom: 1px solid var(--header-border-color);

  color: var(--text-color);
}

.multi-header-day:first-child::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 1px;
  right: 100%;
  top: 100%;
  background: var(--header-border-color);
}

.multi-header-week-day {
  font-size: 12px;
}

.multi-header-day-date {
  font-size: 20px;
}

.time-scale-offset {
  width: var(--time-scale-width);
}

/*Header adjustments at 600px breakpoint are largely so the Multi-Header isn't as
large or prominent as the global header*/
@media (max-width: 600px) {
  .multi-header-day {
    gap: 8px;
    padding: 8px;
  }

  .multi-header-week-day {
    font-size: 12px;
  }

  .multi-header-day-date {
    font-size: 18px;
  }
}
