.time-scale {
  display: flex;
  flex-direction: column;
  width: var(--time-scale-width);
  height: calc(var(--multi-hr-height) * 25);
  font-size: 11px;
}

.time-scale-hr {
  position: relative;
  /*height: var(--multi-hr-height);*/
  flex-grow: 1;
}

.time-scale-hr:first-child,
.time-scale-hr:last-child {
  /*show 15mins of prev day as a sort of buffer*/
  /*height: calc(var(--multi-hr-height) / 4);*/
  flex-grow: 0.25;
}

.time-scale-hr:first-child {
  /*show 15mins of prev day as a sort of buffer*/
  border-top: none;
}
/*

.time-scale-hr:not(:first-child)::before {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 20%;
  height: 1px;
  background: var(--header-border-color);
  transform: translateY(0%);
}*/

.time-scale-hr:not(:first-child)::after {
  position: absolute;
  top: 0;
  right: 15px;
  content: attr(time);
  transform: translateY(-50%);
}

/*Increasing 'buffer' hour at the bottom to accomodate for plus button*/
@media (max-width: 800px) {
  .time-scale-hr:last-child {
    flex-grow: 1;
  }
}
