.add-item-container {
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  top: var(--popup-header-height);
  right: 0;

  width: 100%;
  padding: 40px 10px 130px;
  overflow-y: auto;
}

.add-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;

  width: 75%;
  height: max-content;
  color: var(--text-color);
}

.add-item-title {
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-align: left;
  font-size: 25px;
  color: rgb(151, 151, 151);
  text-align: left;
}

.MuiSelect-select {
  text-align: left;
}

.select-placeholder {
  color: #29292954;
  text-align: left;
  font-weight: 400;
}

.add-item-label {
  align-self: flex-start;
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: bold;
}

.add-item-button {
  width: max-content;
  margin-top: 10px;
  padding: 10px 30px 10px;
  color: white;
  background-color: var(--logo-color);
  border: none;
  border-radius: 4px;
  align-self: flex-end;
}
@media (max-width: 600px) {
  .add-item-content {
    width: 95%;
  }
}
