:root {
  --text-color: rgb(60, 64, 67);
  --global-header-height: 71.96px;
  --header-border-color: #dadce0;
  --multi-header-height: 67.78px;
  --multi-hr-height: 3rem;
  --time-scale-width: 4rem;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
