.mobile-side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 105;
  height: 100vh;
  width: 270px;
  border: 1px;
  background-color: white;
  box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.5);
  font-size: 18px;

  user-select: none;
  transition: transform 0.4s;
}

.close {
  transform: translateX(100%) !important;
}
.open {
  transform: translateX(0%) !important;
}

.mobile-sp-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  color: var(--text-color);
  text-decoration: none;

  cursor: pointer;
}

.mobile-sp-title {
  align-items: flex-end;
  gap: 15px;

  border-bottom: 1px solid var(--header-border-color);
}

.mobile-side-panel .logo {
  height: 35px;
}

.mobile-side-panel .site-title {
  font-size: 30px;
  font-weight: bold;
}

.mobile-sp-item:nth-child(3) {
  border-bottom: 1px solid var(--header-border-color);
}

.sp-active,
.mobile-sp-item:not(.mobile-sp-title):active {
  color: white;
  background-color: var(--text-color);
}

.sp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 104; /*one less than side panel*/
  background-color: rgba(0, 0, 0, 0.4);
}
